<section class="row">


 <footer class="bg-danger text-white py-4">
            <div class="container">
                <div class="row  d-flex">
                   
                    <div class="col-md-3 mb-3">
                        <h5>FrontIt</h5>
                        <p>Delivery the best household Accerssories, Electronics, fashion, and even farm products and amchinary. Connectng all around the world.</p>
                    </div>
                 
                    <div class="col-md-3 mb-3">
                        <h5>Quick Links</h5>
                        <ul class="list-unstyled">
                            <li><a class='text-light' href='/'>Home</a></li>
                            <li><a class='text-light' href='/about'>Products</a></li>
                            <li><a class='text-light' href='/services'>About Us</a></li>
                            <li><a class='text-light' href='/contact'>Contact Us</a></li>
                        </ul>
                    </div>
            
                    <div class="col-md-3 mb-3">
                        <h5>Contact Us</h5>
                        <p><strong>Email:</strong> supporto@vv.com</p>
                        <p><strong>Phone:</strong> +855 (700) 123456</p>
                        <p><strong>Address:</strong> nv pp yg ng</p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h5>Follow Us</h5>
                        <div>
                            <a href="" class="text-light me-3"><i class="bi bi-facebook"></i><img src="../static/images/fb.png" width=""></a>
                            <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i><img src="../static/images/x.png" alt=""></a>
                            <a href="#" class="text-light"><i class="bi bi-instagram"></i><img src="../static/images/in.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-center mt-4">
                    <p class="mb-0">&copy;All Rights Reserved | Privacy Policy    </p>
                </div>
            
            </div>
        </footer>
    </section>
