<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Products</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <!-- include navbar  -->
        {% include 'navbar.html' %}

        <section class="row">
            <div class="col-md-4 p-5">
                <img src="../static/images/{{ item[5] }}" class="w-100" alt="">

            </div>
            <div class="col-md-8 p-5">
                <!-- title  -->
                <h5 class="text-dark">{{item[1]}}</h5>
                <br>
                <p>{{item[2]}}</p>
                <br>
                <b class="text-primary">Category : {{item[4]}}</b><br></br>
                <b class="text-category">Product Quantity : 3</b><br>
                <b class="text-category">Product Cost : {{item[3]}}</b>
                <br>
                <!-- check if email exists in session['key'] -->
                {% if session['key'] %}
                <!-- it means the user is logged in  -->
                <!-- you can proceed to make payment  -->

                <!-- show user a form to complete payment  -->
                <form action="/mpesa" method="post">
                    <!-- create aphone number input  -->
                    <input type="number" class="form-control" placeholder="Enter phone 254xxxxxxx" name="phone">
                    <label for="">To Pay KES</label>
                    <input type="number" class="form-control" name="amount" value="{{ item[3] }}"
                    readonly>
                    <br>
                    <input type="submit" value="pay now" class="btn btn-success">
                </form>
                {% else %}
                <!-- user is not logged in  -->
                <!-- aske them to be logged in in order to purchase  -->
                <h4 class="text-danger">Please Login to purchase</h4>
                <a href="/login" class="btn btn-dark btn-sm">Login</a>

                {% endif %}

            </div>
        </section>
    </div>
</body>
</html>