<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <!-- include the navbar -->
    {% include 'navbar.html' %}

    <br>
    <section class="row">
        <div class="col-md-6 ms-5">
            <div class="card shadow p-5">
                <b class="text-warning">{{ message }}</b>
                <b class="text-danger">{{ error }}</b>
                <h1 class="text-primary">Upload Your Fashion</h1>
                <form action="/uploadfashion" method="post" enctype="multipart/form-data">
                    <label for="product_name">Product Name</label>
                    <input type="text" id="product_name" class="form-control" name="product_name" required>
                    <br>
                    <label for="product_desc">Product Description</label>
                    <textarea id="product_desc" name="product_desc" class="form-control" required></textarea>
                    <br>
                    <label for="product_cost">Product Cost</label>
                    <input type="number" id="product_cost" class="form-control" name="product_cost" required>
                    <br>
                    <label for="product_category">Fashion Category</label>
                    <select id="product_category" name="product_category" class="form-control" required>
                        <option value="dresses">Dresses</option>
                        <option value="handbags">Hand-bags</option>
                        <option value="socks">Socks</option>
                        <option value="cap">Caps</option>
                        <option value="belts">Belts</option>
                        <option value="trouser">Trousers(Pants)</option>
                    </select>
                    <br>
                    <label for="product_images_name">Product Image</label>
                    <input type="file" id="product_images_name" class="form-control" name="product_images_name" required>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Upload/Add Products">
                </form>
            </div>
        </div>
    </section>
</body>
</html>
